/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style:none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #000;
    font-family: Montserrat;
    font-weight: 500;
}
/* --------------------------------------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: inherit;
    display: flex;
    flex-direction: column;
}
/* --------------------------------------------------------------------- */
._container {
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit:cover;
}
/* ---HEADER------------------------------------------------------------------ */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 56;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
.header__logo {
    max-width: 66px;
}
@media (max-width: 479px){
    .header__logo {
        max-width: 36px; 
    }
}
.header__menu {
    margin: 0px 0px 0px 133px;
}
@media (max-width:992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width:767px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}
@media (max-width:479px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}
.menu {
    padding: 5px 0;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}
.menu__link {
    color: #69cdfc;
    font-weight: 600;
    text-shadow: 1px 1px 2px #ffffff;
    line-height: calc((24 / 14) * 100%) ;
}
@media (max-width:479px) {
    .menu__link {
        font-size:18px;
    }
}
/* ---PAGE------------------------------------------------------------------ */
.page {
    flex: 1 1 auto;
}
/* ---MAIN------------------------------------------------------------------ */
.main-block {
    position: relative;
}
.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    top: 210px;
    max-width: 509px;
    margin-left: auto;
}
.main-block__body> *:not(last-child){
    margin: 0px 0px 35px 0px;
}
@media (max-width: 992px){
    .main-block__body {
        padding: 120px 0px 191px
    }  
}
.main-block__title {
    font-size: 38px;
    font-weight: 800;
    line-height: calc(80 / 68 * 100%);
    color:#22b9ff ;
    text-shadow: 1px 1px 2px #ffffff;
    letter-spacing: 0.2px;
}
@media (max-width: 479px){
    .main-block__title {
        font-size: 32px;
    }
}
.main-block__text {
    color:#22b9ff ;
    text-shadow: 1px 1px 2px #ffffff;
    font-size: 20px;
    line-height:1.5;
}
.main-block__buttons {
    display: inline-flex;
}
.main-block__button {
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 32px;
    min-height: 48px;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 150%;
}
.main-block__button_blue{
    background: #70d2ff;
    color:#ffffff
}
.main-block__button:not(:last-child){
    margin: 0px 10px 0px 0px;
}
.main-block__button_border{
    color:#70d2ff;
    border: 1px solid #70d2ff;
}
@media(max-width: 429px) {
    .main-block__button_border{
        color:#ffffff;
    }
}
.main-block__image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/*--------------------------------------------------------------------*/

.service__body {
    display: flex;
    margin: 0px -15px;
}
@media (max-width: 980px){
    .service__body {
       display:block; 
       margin: auto;
    }
}
.service__body__title {
    font-size: 20px;
    line-height:1.5;
    padding: 75px 25px;
    text-align: center;
}
.service__column {
    padding: 0 10px;
    flex: 0 1 33.333%
}
@media (max-width: 980px){
    .service__item {
      padding: 20px ;
      margin: 15px;
    }
}
.service__item {
    box-shadow: 0px 3px 9px #000000;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    transition: all 0.6s ease-in-out;
}
.service__item:hover {
    background: #70d2ff;
    color:#ffffff;
    
}
.service__item__text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height:142%;
}
/*--------------------------------------------------------------------------------*/
.page__biography {
}
.biography {
}
.biography__body__title {
    font-size: 23px;
    font-weight: 600;
    line-height:1.5;
    padding: 175px 25px 55px 25px;
    text-align: center;
}
.biography__body {
    display: flex;
    width: 100%;
   
    padding: 20px;
    border-radius: 2%;
    box-shadow: 0px 2px 9px #22b9ff;
}
@media(max-width: 469px){
    .biography__body {
        display:block;
        border-radius: 13px;
    }
}
.biography__section {
    padding: 15px 10px;
    position: relative;
    flex-direction: column;
    flex: 1;
}
@media(max-width: 469px){
    .biography__section {
        border-radius: 13px;
    }
}

.biography__image {
    width: 100%;
    min-width: 196.6px;
    height: 100%;
    left: 0;
    top: 0;
    object-fit:cover;
    border-radius: 2%;
}
@media(max-width: 469px){
    .biography__image {
        height: 25%;
        border-radius: 55%;
    }
}

.biography__title {
    font-size: 32px;
    font-weight: 600;
    line-height:1.5;
    padding: 0px 0px 75px 0px;
    letter-spacing: 0.2px;
}
@media(max-width: 860px){
    .biography__title {
        font-size: 25px;
        padding: 5px 0px 75px 15px;
        margin: 45px 0px 0px 0px;  
    } 
}
@media(max-width: 479px){
    .biography__title {
        font-size: 19px;
        padding: 5px 0px 75px 15px;  
    } 
}
.biography__text {
    font-size: 20px;
    font-weight: 400;
    line-height:1.7;
    letter-spacing: 0.2px;
}
@media(max-width: 860px){
    .biography__text {
        font-size: 18px;
        padding: 5px 0px 75px 15px;  
    } 
}

/* ---FOOTER------------------------------------------------------------------ */
.footer {

}