/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style:none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #000;
    font-family: Montserrat;
    font-weight: 500;
}
/* --------------------------------------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: inherit;
    display: flex;
    flex-direction: column;
}
/* --------------------------------------------------------------------- */
._container {
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit:cover;
}
/* ---HEADER------------------------------------------------------------------ */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 56;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
.header__logo {
    max-width: 66px;
}
@media (max-width: 479px){
    .header__logo {
        max-width: 36px; 
    }
}
.header__menu {
    margin: 0px 0px 0px 133px;
}
@media (max-width:992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width:767px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}
@media (max-width:479px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}
.menu {
    padding: 5px 0;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}
.menu__link {
    color: #69cdfc;
    font-weight: 600;
    text-shadow: 1px 1px 2px #ffffff;
    line-height: calc((24 / 14) * 100%) ;
}
@media (max-width:479px) {
    .menu__link {
        font-size:18px;
    }
}
/* ---PAGE------------------------------------------------------------------ */
.page {
    flex: 1 1 auto;
}
/* ---MAIN------------------------------------------------------------------ */
.main-block {
    position: relative;
}
.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    top: 210px;
    max-width: 509px;
    margin-left: auto;
}
.main-block__body> *:not(last-child){
    margin: 0px 0px 35px 0px;
}
@media (max-width: 992px){
    .main-block__body {
        padding: 120px 0px 191px
    }  
}
.main-block__title {
    font-size: 38px;
    font-weight: 800;
    line-height: calc(80 / 68 * 100%);
    color:#22b9ff ;
    text-shadow: 1px 1px 2px #ffffff;
    letter-spacing: 0.2px;
}
@media (max-width: 479px){
    .main-block__title {
        font-size: 32px;
    }
}
.main-block__text {
    color:#22b9ff ;
    text-shadow: 1px 1px 2px #ffffff;
    font-size: 20px;
    line-height:1.5;
}
.main-block__buttons {
    display: inline-flex;
}
.main-block__button {
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 32px;
    min-height: 48px;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 150%;
}
.main-block__button_blue{
    background: #70d2ff;
    color:#ffffff
}
.main-block__button:not(:last-child){
    margin: 0px 10px 0px 0px;
}
.main-block__button_border{
    color:#70d2ff;
    border: 1px solid #70d2ff;
}
@media(max-width: 429px) {
    .main-block__button_border{
        color:#ffffff;
    }
}
.main-block__image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/*--------------------------------------------------------------------*/
.services__container {
    padding: 0px 0px 175px 0px;
}
.service__body {
    display: flex;
    margin: 0px -15px;
}
@media (max-width: 980px){
    .service__body {
       display:block; 
       margin: auto;
    }
}
.service__body__title {
    text-decoration: none;
    font-size: 20px;
    line-height:1.5;
    padding: 75px 25px;
    text-align: center;
}
.service__column {
    padding: 0 10px;
    flex: 0 1 33.333%
}
@media (max-width: 980px){
    .service__item {
      padding: 20px ;
      margin: 15px;
    }
}
.service__item {
    box-shadow: 0px 3px 9px #000000;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    transition: all 0.6s ease-in-out;
}
.service__item:hover {
    background: #70d2ff;
    color:#ffffff;
    
}
.service__item__text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height:142%;
}
/*--------------------------------------------------------------------------------*/

.details__body__title {
    font-size: 20px;
    line-height:1.5;
    padding: 10px 25px 45px 25px;
    text-align: center;
}
.details__body {
    display: block;
    margin: 5px 10px 175px 10px;
}

:root {
    --red: #70d2ff;
    --transitionDuration: 0.2s;
    --transitionTimingFunction: linear;
    --time: var(--transitionDuration) var(--transitionTimingFunction);
  }
  .container {
    max-width: 1046px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .accordion {
    --gray: #e7e7e7;
  }
  
  .accordion__item {
    --backgroundColor: #ffffff;
  }
  
  .accordion__item:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .accordion__header {
    display: flex;
    align-items: center;
    border: 1px solid var(--gray);
    user-select: none;
    background-color: var(--backgroundColor);
    border-radius:13px;
  }
  
  .accordion__header__title {
    padding-right: 10px;
    transition: color var(--time);
  }
  
  .accordion__item.active {
    height: 152;
  }
  
  .accordion__item.active .accordion__header__title {
    color: var(--red)
  }
  
  .accordion__header__img {
    margin-right: 20px;
    border-right: 1px solid var(--gray);
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion__header__img-circle {
    border: 1px solid #505050;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color var(--time);
  }
  
  .accordion__item.active .accordion__header__img-circle {
    border-color: var(--red);
  }
  
  .accordion__header__img-circle::before,
  .accordion__header__img-circle::after {
    content: "";
    position: absolute;
    display: block;
    width: 60%;
    height: 2px;
    background-color: #505050;
    transition: background-color var(--time), transform var(--time);
  }
  
  .accordion__item.active .accordion__header__img-circle::before,
  .accordion__item.active .accordion__header__img-circle::after {
    background-color: var(--red);
  }
  
  .accordion__item.active .accordion__header__img-circle::before {
    transform: rotate(0deg);
  }
  
  .accordion__header__img-circle::before {
    transform: rotate(90deg);
  }
  
  .accordion__text {
    border: 1px solid var(--gray);
    border-radius:13px;
    border-top: none;
    padding: 14px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.5;
  }
  
  .accordion__text__wrapper {
    overflow: hidden;
    height: 0px;
    background-color: var(--backgroundColor);
    transition: height var(--time);
  }
/*--------------------------------------------------------------------------------*/
.biography__body__title {
    font-size: 20px;
    line-height:1.5;
    padding: 0px 25px 55px 25px;
    text-align: center;
}
@media(max-width: 479px){
    .biography__body__title {
        padding: 0px 25px 35px 25px;
    } 
}
.biography__body {
    display: flex;
    width: 100%;
    padding: 20px;
    border-radius: 2%;
    padding: 0px 0px 175px 0px;
}
@media(max-width: 469px){
    .biography__body {
        display:block;
        border-radius: 13px;
    }
}
.biography__section {
    padding: 15px 10px;
    position: relative;
    flex-direction: column;
    flex: 1;
}
@media(max-width: 469px){
    .biography__section {
        border-radius: 13px;
    }
}

.biography__image {
    width: 100%;
    min-width: 196.6px;
    height: 100%;
    left: 0;
    top: 0;
    object-fit:cover;
    border-radius: 2%;
}
@media(max-width: 469px){
    .biography__image {
        height: 25%;
        border-radius: 55%;
    }
}

.biography__title {
    font-size: 32px;
    font-weight: 600;
    line-height:1.5;
    padding: 0px 0px 75px 0px;
    letter-spacing: 0.2px;
}
@media(max-width: 860px){
    .biography__title {
        font-size: 25px;
        padding: 5px 0px 75px 15px;
        margin: 15px 0px 0px 0px;  
    } 
}
@media(max-width: 479px){
    .biography__title {
        font-size: 19px;
        padding: 5px 0px 75px 15px;  
    } 
}
.biography__text {
    font-size: 20px;
    font-weight: 400;
    line-height:1.7;
    letter-spacing: 0.2px;
}
@media(max-width: 860px){
    .biography__text {
        font-size: 18px;
        padding: 5px 0px 75px 15px;  
    } 
}
/*----------------------------------------------------------------------------*/
.products__container {
    padding: 0px 0px 175px 0px;
}
.products__body__title {
    font-size: 20px;
    line-height:1.5;
    padding: 0px 25px 55px 25px;
    text-align: center;
}
.products__body {
    display: flex;
    margin: 0px -15px;
}
@media(max-width: 980px){
    .products__body {
        flex-wrap: wrap;
        margin: auto;
    }
}
.products__column {
    padding: 0 10px;
    flex: 0 1 33.333%
}
@media(max-width: 980px){
    .products__column {
        margin: 10px -15px;
    }
}
.products__item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    transition: all 0.6s ease-in-out;
    min-width: 297.33px;
    height: 584px;
}
.products__item:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2); 
    background: #70d2ff;
    color:#ffffff;
}

.products__image {
    max-width:300px;
    max-height:320px;
}

.product__item__title {
    font-size: 20px;
    line-height: 1.5;
    padding: 25px 25px 10px 25px;
    text-align: center;
}
.products__item__text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 142%;
    padding: 2px 0px 20px 0px;
}
.product__item__price {
    padding: 0px 25px 20px 0px;
    font-size: 18px;
    font-weight: 600;
}
/*-----------------------------------------------------------------------------*/
/* Slideshow container */
.slideshow__container {
    position: relative;
    background: #77d4ff;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 55px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;  
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #0099ff;
    color: white;
    transition: all 1.5s ease-in-out;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      background: #41c0ff;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .activated, .dot:hover {
    background-color: #0099ff;
  }

  .mySlides q, p{
    color:#ffffff;
    padding: 15px 0px;
  }
  .mySlides q {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height:142%;
  }
  .mySlides p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height:142%;
  }
/* ---FOOTER------------------------------------------------------------------ */
.footer {

}

/*------------------------------------------------------------------------------*/
